html {
  font-family: 'Open Sans', sans-serif;
}

.uofc_logo {
  width: 10rem;
  margin-top: 5rem;
}
.main-content {
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #FF6D00;
}

table {
  margin: 2rem auto;
  width: 50rem;
  height: 35rem;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.3rem;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

.arts-content {
  display: inline-flex;
  width: 100%;
  margin-top: 3rem;
}
.arts-content img {
  width: 30%;
  display: inline-flex;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.arts-content .description {
  display: inline-block;
  width: 70%;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0rem 1rem 1rem 1rem;
}
.arts-content .description div {
  display: block !important;
}

.contact-info {
  margin-top: 1rem;
  height: 6rem;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.1rem 1rem 2rem 1.5rem;
}
.contact-info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact-info li {
  margin-right: 5rem;
  float: left;
}
.contact-info li .title {
  font-weight: bold;
}

.kines-content {
  margin-top: 3rem;
  display: block;
}
.kines-content .row {
  display: inline-flex;
  margin-bottom: 1rem;
}
.kines-content .row .left {
  width: 30%;
  display: inline-flex;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.kines-content .row .right {
  width: 30%;
  display: inline-flex;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.5rem;
  margin-left: 0.5rem;
}
.kines-content p {
  width: 70%;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.5rem 1rem 1rem 1rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.language-content {
  display: block;
  width: 100%;
  margin-top: 3rem;
}
.language-content .row {
  display: inline-flex;
}
.language-content img {
  width: 30%;
  display: inline-flex;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 0.5rem;
}
.language-content p {
  display: inline-block;
  width: 70%;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 1rem 1rem 1rem 1rem;
}

.science-content {
  margin-top: 3rem;
}
.science-content .img-grid {
  text-align: center;
}
.science-content .row {

}
.science-content .row img {
  width: 10rem;
  margin: 1rem;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 1rem;
}
.science-content p {
  box-shadow: 0 0 1px rgba(0,0,0,.15);
  padding: 1rem;
}
