html {
  font-family: 'Open Sans', sans-serif;
}

.uofc_logo {
  width: 10rem;
  margin-top: 5rem;
}
.main-content {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #FF6D00;
}

table {
  margin: 2rem auto;
  width: 50rem;
  height: 35rem;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}
tr:nth-child(even) {
  background-color: #dddddd;
}
